NEXT_PUBLIC_STARKNET_RPC_URL=http://127.0.0.1:5050
NEXT_PUBLIC_GATE_ADAPTER_ADDRESS=0xGATE_ADAPTER_ADDRESS
NEXT_PUBLIC_PROOF_VERIFIER_ADDRESS=0xPROOF_VERIFIER_ADDRESS
NEXT_PUBLIC_STRKBTC_ADDRESS=0xSTRKBTC_ADDRESS
NEXT_PUBLIC_POLICY_REGISTRY_ADDRESS=0xPOLICY_REGISTRY_ADDRESS

